body {
    margin: 0;
    background: url("Images/Shop-Background.png") no-repeat center center fixed;
    background-size: cover;
}
.mainpage{
    width: auto;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    margin-top: 20px;
    width: auto;
    height: auto;
}
.nav-buttons{
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;

    width: auto;
    height: auto;
}
.filter-buttons{
    display: block;

    margin-bottom: 20px;

    width: auto;
    height: auto;
}
.menu-link {
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 5px;
}
.out-link{
    margin: 10px 10px 10px 10px;
}
.footer{
    border-style: solid;
    margin-top: 20px;

    background-color: rgb(252, 222, 252);
    padding: 5px;
    width: auto;
    height: auto;
}

#CakeLogo{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: auto;
    height: 150px;
}
#Socials{
    font-size: 20px;
    margin: 10px 0 0 10px;
}
#Reach-oss-by-email{
    font-size: 15px;
    margin: 10px 0 0 10px;
}