#products-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    width: 200px;
    background: white;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.price {
    color: green;
    font-weight: bold;
    font-size: 20px;
}